---
layout: page
title: Recipes
permalink: /recipes/
weight: 2
---

<div class="recipeContainer row pageContainer">
	<div class="wrapper">
  		<section class="blog">
  			<h2 class="heading-2">Welcome to the recipe page!</h2>
			 <p>Diane is my younger sister and she has greatly inspired my involvement in the field of food and nutrition.  At a very young age, we found out that Diane had a variety of food allergies including: dairy products, seafood, nuts, and eggs.  Although food allergies have become a more well-known thing nowadays, they were not so recognized ~20 years ago and at that time my family and I had no idea what challenges were ahead of us.</p>  

			<p>These recipes are near-and-dear to my heart because they are the ones (of many, many recipes) that Diane approves of!  It’s hard to make good-tasting food with so many recipe restrictions so when Diane likes something I make - it means SO much to me.  If you or someone you know has similar allergies, I hope you find these recipes helpful and enjoy them as well!</p>

			  <ul class="post-list">
			    {% for post in site.posts %}
			    {% if  post.category == 'recipe' %}
			      <li>
			        <h2>
			          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			        </h2>

			    	{{ post.content }}

			        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
			      </li>
			    {% endif %}
			    {% endfor %}
			  </ul>
  		</section>
	</div>
</div>