---
layout: page
title: Recipes
permalink: /recipes/
weight: 3
---

<div class="intro">
	<p>These recipes are near-and-dear to my heart because they are the ones (of many recipes) that Diane approves of!  It’s hard to make good-tasting food with so many dietary restrictions so when Diane likes something I make - it means a lot to me.  If you or someone you know has similar allergies, I hope you find these recipes helpful and enjoy them as well! </p>
</div>

<ul>
{% for post in site.posts %}
	{% if post.category == 'recipe' %}
	<li>
		<h2>
			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h2>
	</li>
	{% endif %}
{% endfor %}
</ul>