div.home-carousel {
	max-width: none;

	section.home {
		position:relative;
	}

	div.homeWrapper {
	    max-width: none;
    	-webkit-filter: blur(10px);
    	filter: blur(10px);    
    	position: absolute;
	    height: 100%;
	    width: 100%;
	}

	.content {
		font-family: Source Sans Pro, Arial, Sans serif;
	}

	h2 {
		font-family: Oswald, Arial, Sans serif;
		font-weight: 700;
	}

	.intro {
		text-align: center;
	}
}  

