---
layout: page
title: Blog
permalink: /blog/
weight: 3
---
<div class="blogContainer row pageContainer">
	<div class="wrapper">
  		<section class="blog">
    
    
    
    
  		</section>
  <p>These following blog entries will allow you to follow my crazy busy lifestyle.  I will be updating my blog weekly with any highlights that you may find interesting.  If you have any questions or comments, please feel free to send me a message!  I am happy to share my experiences with you all.. enjoy! </p>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if  post.category == 'blog' %}
      <li class="entry shadow">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    	{{ post.content }}
      </li>
    {% endif %}
    {% endfor %}
  </ul>
	</div>
</div>
