---
layout: page
title: Blog
permalink: /blog/
weight: 3
---
<div class="blogContainer row pageContainer">
	<div class="wrapper">
  <section>
  <ul class="post-list">
    {% for post in site.posts %}
    {% if  post.category == 'blog' %}
      <li class="entry shadow">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    	{{ post.content }}
      </li>
    {% endif %}
    {% endfor %}
  </ul>
  </section>
	</div>
</div>
